$base-color-primary: #010409;
$base-color-secondary: #0d1117;

$base-color-bg-primary: #151920;
$base-color-bg-secondary: #0d1117;
$base-color-bg-side-panel: #0d1117;

$base-color-text-primary: #f0f6fc;
$base-color-text-secondary: #e1e4e7;
$base-color-text-highlight: #b392f0;

$base-color-border-primary: #625e7e;
$base-color-border-secondary: #373648;

$base-font-size-small: 13px;
$base-font-size-base: 16px;
$base-font-size-large: 17px;

$base-font-family: 'Inter';

$regular: 400;
$medium: 500;
$bold: 600;
$bolder: 700;

$line-height-title-1: 40px;

$base-box-shadow-8: 0px 0px 8px black;
