.husky/
.vscode/
.yarn/
coverage/
dist/
public/assets/
tsconfig.*.json
pnpm-lock.yaml
commitlint.config.cjs

# Logs
logs
*.log
npm-debug.log*
pnpm-debug.log*

node_modules
dist
dist-ssr
*.local
nuxt.config.ts

# Editor directories and files
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# pnpm
pnpm-lock.yaml

# Vitest coverage
coverage/

# Special File
.env