//* ---- Media ----------------------------------------------------------------------------- *//
$mobile-width: 320px;
$tablet-width: 768px;
$desktop-width: 1280px;

$padding-base: 16px;

//* ---- Font sizes ------------------------------------------------------------------------ *//
$font-size-small: 13px !default;
$font-size-base: 16px !default;
$font-size-large: 17px !default;
