@import './mixins/_media.scss';
@import './mixins/_scrollbar.scss';
@import './_functions.scss';

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&display=swap');

@include connectThemes($themes) using ($theme, $themeName) {
  --color-primary: #{map-get($theme, 'colors', 'primary')} !important;
  --color-secondary: #{map-get($theme, 'colors', 'secondary')} !important;

  --text-primary: #{map-get($theme, 'colors', 'text-primary')} !important;
  --text-primary: #{map-get($theme, 'colors', 'text-secondary')} !important;
}

html {
  font-family:
    Inter,
    'Open Sans',
    Roboto,
    -apple-system,
    sans-serif;
  padding: 0;
  margin: 0;
  height: 100%;
  border: none;
  line-height: 30px;

  @include mobile() {
    font-size: #{$font-size-small};
  }
  @include tablet() {
    font-size: #{$font-size-base};
  }
  @include desktop() {
    font-size: #{$font-size-large};
  }
}

body {
  text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-overflow-scrolling: touch;
  text-rendering: optimizeLegibility;

  overscroll-behavior: none;
  box-sizing: border-box;
  *,
  *::before,
  *::after {
    box-sizing: border-box;
    overscroll-behavior: none;
  }
}

@include scrollbar();
