@import './media';

code {
  background-color: var(--bg-secondary) !important;
  color: var(--text-secondary);
  padding: 4px 8px;
  border-radius: 8px;
}

p {
  code {
    background-color: var(--bg-secondary) !important;
    padding: 2px 8px;
    border-radius: 8px;
  }

  margin-bottom: 16px;
}

pre {
  padding: 12px 16px;
  margin: 8px 4px;
  border-radius: 16px;

  border: 2px solid var(--border-secondary);
  background-color: var(--bg-secondary) !important;

  overflow-x: auto !important;
}

ul {
  padding-top: 8px;
  padding-left: $padding-base;
  list-style-type: disc;

  ::marker {
    color: var(--text-primary);
  }

  > li {
    margin-bottom: 12px;
    padding-left: 0;
    color: var(--text-secondary);
  }

  @include xs {
    padding-top: 4px;

    > li {
      margin-bottom: 6px;
    }
  }
}

b {
  display: flex;
  margin-top: 16px;
  font-size: 1.1rem;
}

ol {
  --size: 20px;
  --padding: 10px;

  @include xs {
    --size: 10px;
    --padding: 4px;
  }

  display: flex;
  flex-direction: column;

  list-style: none;
  counter-reset: item;

  list-style: none;
  padding-left: calc(var(--size) + var(--padding));

  > li {
    color: var(--text-secondary);
    position: relative;
    counter-increment: item;
    padding: $padding-base 0;

    font-weight: 400;
    @include xs {
      padding: calc($padding-base / 2) 0;
    }
  }

  > li:not(:last-child):after {
    content: '';
    position: absolute;
    bottom: 0;
    left: calc(-1 * var(--size) - var(--padding));
    width: calc(100% + var(--size) + var(--padding));

    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: var(--border-secondary);
  }

  > li:before {
    display: none;
  }
}

a {
  text-decoration: none;
  color: var(--text-secondary);
}

a:not([href]) {
  &,
  &:hover {
    color: inherit;
    text-decoration: none;
  }
}

hr {
  background-color: var(--border-secondary) !important;
  margin: 16px 0;

  height: 1px;
  background-color: #ccc;
  border: none;

  @include xs {
    margin: 8px 0;
  }
}

.intro {
  margin-top: calc(100vh - 70%);

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  gap: 16px;

  > div {
    max-width: 460px;
  }

  &-menu {
    display: flex;
    gap: 6px;
  }
}

details {
  padding: 4px 16px;
  border-radius: 16px;

  color: var(--text-secondary);
  border: 2px solid var(--border-secondary);
  box-shadow: 0px 0px 4px var(--border-secondary);
}

img {
  margin: 8px auto;
  border-radius: 12px;
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 24px;
  margin-bottom: 12px;
  padding-bottom: 8px;
  border-bottom: 1px solid var(--border-secondary);
}
