$base-color-primary: #313131;
$base-color-secondary: #eaeff8;

$base-color-bg-primary: #ffffff;
$base-color-bg-secondary: #ececec;
$base-color-bg-side-panel: #ececec;

$base-color-text-primary: #141414;
$base-color-text-secondary: #141414cc;
$base-color-text-highlight: #6f42c1;

$base-color-border-primary: #b1b1b1;
$base-color-border-secondary: #eaeff8;

$base-font-size-small: 13px;
$base-font-size-base: 16px;
$base-font-size-large: 17px;

$base-font-family: 'Inter';

$regular: 400;
$medium: 500;
$bold: 600;
$bolder: 700;

$line-height-title-1: 40px;

$base-box-shadow-8: 0px 0px 8px black;
